PORT=3000
DB_HOST=bitter-db.cts8eaos275g.ap-south-1.rds.amazonaws.com
DB_USER=Bitter_23_03
DB_PASSWORD=bitter_user_23_03
DB_NAME=Bitter_db
JWT_SECRET=supersecretkey123
AWS_REGION=ap-south-1
S3_BUCKET_NAME=bitter-app-uploads
